@media screen and (max-width:576px) {
    .banner-container{
        display: block;
        background-color: #161616;
        width: 350px;
        height: 700px;
        color: white;
        padding-left: 0px;
        margin: 20px 21px;
    }
    .banner-description h1{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 5vw;
        line-height: 60px;
        padding: 10px 20px;
    }
    .banner-description p{
        display: none;
    }
    /* ellipse */
.ellepsis p {
    display:flex;
    width: 70%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    
  }
  .banner-image{
    width: 100%; 
}
.banner-image img{
    width: 100%;
    padding-top: 5px;
}
.button{
    padding: 8px 30px;
    margin-left: 90px;
}

.artical-container {
    margin-top: 0px;
    display: block;
    justify-content: center;
  }
  .artical-button {
    width: 210px;
    height: 176px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 8px;
    padding-top: 5px;

  }
  .artical-button a {
    margin: 15px 15px;
  }
  .artical-blog-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 24px;
  }
}