@media screen and (max-width:576px) {
    .banner-container{
        display: block;
        justify-content: center;
        background-color: #161616;
        width: 90%;
        height: 800px;
        color: white;
        padding-left: 0px;
        margin: 0 25px;
    }
    .banner-description h1{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 8vw;
        line-height: 60px;
        padding: 10px 20px;
    }
    .banner-description p{
        display: none;
    }
    /* ellipse */
.ellepsis p {
    display:flex;
    justify-content: center;
    font-size: 3vw;
    display:flex;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-image{
    width: 95%; 
}
.banner-image img{
    width: 100%;
    
}
.buttons{
  display: flex;
  justify-content: center;
}
.button{
    padding: 8px 30px;
}

.artical-container {
    margin-top: 10px;
    display: grid;
    justify-content: center;
    padding: 10px 80px;
  }
  .artical-button {
    width: 210px;
    height: 176px;
    background: rgb(0, 0, 0);
    text-align: center;
    margin-right: 0px;
    border-radius: 8px;
    padding-top: 0px;
    margin: 0 100px;

  }
  .artical-button a {
    margin: 15px 15px;
  }
  .artical-blog-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 24px;
  }

   /* footer Section  */
   .footer-section {
    margin-top: 50px;
    text-align: center;
    background: black;
    color: white;
    margin-right: 0%;
  }
  .footer-section h1 {
    padding: 40px 50px;
  }
  .footer-line {
    width: 80%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom:20px;
  }
  .footer-menu {
    display: grid;
  }
}